<div id="painel">

  <div *ngIf="onHome" class="home card">
    <div class="header">
      <h3 class="center">Quiz - SO</h3>
      <h5 class="center">Pressione Start para iniciar</h5>
    </div>

    <div class="body">
      <h1 class="center">{{bestScore > 0 ? 'Record: ' + bestScore : 'Seja o primeiro a fazer um record!'}}</h1>
    </div>

    <div class="footer">
      <button (click)="start()">START</button>
    </div>
  </div>

  <div *ngIf="!onHome" class="perguntas card">

    <h5 class="score">score: {{score}}</h5>

    <div class="header">
      <h3 class="center">Quiz - SO</h3>
    </div>

    <div class="body">
      <h3 class="center">{{quest.title}}</h3>
      <div class="centralizado inverse" *ngIf="!quest.isBig">
        <label for="options">Selecione uma resposta</label>
        <select id="options" name="kk" [(ngModel)]="quest.userAnswer">
          <option [value]="answer.id" *ngFor="let answer of quest.answers">{{answer.text}}</option>
        </select>
      </div>
      <div class="quest-list" *ngIf="quest.isBig">
        <ng-container *ngFor="let answer of quest.answers; let i = index">
          <div class="item" (click)="selectThis(answer.id)">
            <input type="radio" name="resp" [id]="'r' + i" />
            <label [for]="'r' + i">{{answer.text}}</label>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="footer">
      <button *ngIf="currentQuest !== (quests.length - 1)" [disabled]="!quest.userAnswer"
        (click)="next()">Prosseguir</button>
      <button *ngIf="currentQuest === (quests.length - 1)" [disabled]="!quest.userAnswer"
        (click)="end()">Finalizar</button>
    </div>
  </div>
</div>